<% include ../partials/header%>
<div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <h3 class="text-left">CHEF INFO</h2>
                    <p>Name of the chef: <%=cooking.author.username %></p>
                    <p>Title of Recipe: <%= cooking.title %> </p>
                    <% cooking.comments.forEach((comment) =>{ %>
                        <p>
                            <strong><%=comment.author.username %></strong> said <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning" href="/cookings/<%=cooking._id %>/comments/<%= comment._id%>/edit">Edit</a>
                            <form action="/cookings/<%=cooking._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        <% } %>
                    <% }) %>
                </div>
                <div class="col-sm-8">
                    <h2 class="text-center text-success"><%= cooking.title %> </h2>
                            <h4 class="text-center">To prepare <%= cooking.title %>, the ingridients are as follows: </h4><br>
                            <h5><%= cooking.ingridients %></h5><br>
                            <div>
                                <h2>PROCEDURE</h2>
                                <p><%= cooking.procedure %></p>
                            </div>
                            <p><em> Submitted by:</em> <%=cooking.author.username %></p>
                            <% if(currentUser && cooking.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-info" href="/cookings/<%= cooking._id%>/edit">Edit</a>
                            <form action="/cookings/<%=cooking._id%>?_method=DELETE" method="POST"> 
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-success" href="/cookings/<%= cooking._id%>/comments/new">Add New Comment</a>
                    </p>

                    <% cooking.comments.forEach((comment) =>{ %>
                        <p>
                            <strong><%=comment.author.username %></strong> said <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/cookings/<%=cooking._id %>/comments/<%= comment._id%>/edit">Edit</a>
                        <form action="/cookings/<%=cooking._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        <% } %>
                    
                    <% }) %>
                </div>
    </div>

</div>
        
 
<% include ../partials/footer%>



